<template>
  <div id="cosmosWrapper">
    <div id="cosmos" :style="cosmosStyle">
      <Ship v-on:move-ship="setPosition"/>
      <Tile v-for="tilePos of currentMap" :sector-coordinates="convertPositionToKey(tilePos)" :sector-content="getSectorContent(convertPositionToKey(tilePos))" :key="convertPositionToKey(tilePos)"/>
    </div>
  </div>
</template>

<script>
import Ship from './Ship.vue';
import Tile from './Tile.vue';
const MAP_WIDTH = 30; // can't be less than 10, MUST BE %2==0
const MAP_HEIGHT = 30; // can't be less than 10, MUST BE %2==0

export default {
  name: 'cosmos',
  components: {
    Ship,
    Tile
  },
  data() {
    return {
      position: {x:0, y:0},
      tiles: undefined
    }
  },
  methods: {
    setPosition(newPosition) {
      this.position = newPosition;
    },
    generateSpaceObject (){
      const type = Math.floor(Math.random()*10);
      return {
        type: type,
        name: type < 9 ? 'Planet' : 'Black Hole'
      }
    },
    getSectorContent(tilePos) {
      return this.tiles.get(tilePos);
    },
    convertPositionToKey(pos){
      return pos.x.toString() + "|" + pos.y.toString(); 
    }
  },
  computed: {
    cosmosStyle() {
      return 'background-position:' + (-this.position.y * 90) +'px ' + this.position.x * 90 +'px'
    },
    currentMap() {
      const tilesArray = new Array();
      for (let xPos = this.position.x + 4; xPos >= this.position.x - 4; xPos--) {
        for (let yPos = this.position.y - 4; yPos <= this.position.y + 4; yPos++) {
          tilesArray.push({x:xPos,y:yPos});
        }
      }
      return tilesArray;
    }
  },
  created(){
    this.tiles = new Map();
    for (let xPos = -(MAP_WIDTH/2); xPos <= MAP_WIDTH/2; xPos++) {
      for (let yPos = -(MAP_WIDTH/2); yPos < MAP_HEIGHT/2; yPos++) {
        let randomObject = Math.random() < 0.05 ? this.generateSpaceObject() : null;
        this.tiles.set(this.convertPositionToKey({x:xPos, y:yPos}), randomObject);
      }
    }
  }
}
</script>

<style>
  body {
    overflow: hidden;
  }
  #cosmosWrapper {
    position: relative;
    min-height: 100vh;
  }
  #cosmos {
    background: repeat url(../assets/cosmos.jpg);
    transition: background-position .5s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: calc(90px * 9);
    margin: 0 auto;
    top: 50%;
    left: 50%;
    margin: -405px;
  }
</style>
