<template>
  <div class="arrowContainer">
    <div class="arrow" :style="style">&uArr;</div>
  </div>
</template>

<script>
export default {
  name: 'ShipControls',
  props: ['direction'],
  computed: {
    style () {
      return 'transform: rotate(' + this.direction + 'deg)';
    }
  },
}
</script>

<style>
.arrowContainer {
  width: 90px;
  height: 90px;
  line-height: 90px;
  opacity: 0.5;
  cursor: pointer;
}
.arrow {
  font-size: 45px;
}
</style>