<template>
  <div id="shipContainer">
      <ShipControls v-on:click.native="moveOrRotateShip(315)" direction="315"/>
      <ShipControls v-on:click.native="moveOrRotateShip(0)" direction="0"/>
      <ShipControls v-on:click.native="moveOrRotateShip(45)" direction="45"/>
      <ShipControls v-on:click.native="moveOrRotateShip(270)" direction="270"/>
      <div v-bind:class="{flying: isFlying}" :style="shipStyle" id="ship"/>
      <ShipControls v-on:click.native="moveOrRotateShip(90)" direction="90"/>
      <ShipControls v-on:click.native="moveOrRotateShip(225)" direction="225"/>
      <ShipControls  v-on:click.native="moveOrRotateShip(180)" direction="180"/>
      <ShipControls v-on:click.native="moveOrRotateShip(135)" direction="135"/>
  </div>
</template>

<script>
import ShipControls from './ShipControls.vue';

export default {
  name: 'ship',
  data() {
    return {
      rotation: 0,
      isFlying: false,
      position: {x:0, y:0},
    }
  },
  computed: {
    shipStyle () {
      return 'transform: rotate(' + this.rotation + 'deg)';
    }
  },
  /*watch: {
    rotation() {
      console.log('New direction is: ' + this.rotation);
    }
  },*/
  methods: {
    moveOrRotateShip(angle){
      if (this.rotation == angle) {
        this.isFlying = true;
        if (angle == 315){
          this.position.x++;
          this.position.y--;
        } else if (angle == 0){
          this.position.x++;
        } else if (angle == 45){
          this.position.x++;
          this.position.y++;
        } else if (angle == 90){
          this.position.y++;
        } else if (angle == 135){
          this.position.x--;
          this.position.y++;
        } else if (angle == 180){
          this.position.x--;
        } else if (angle == 225){
          this.position.x--;
          this.position.y--;
        } else if (angle == 270){
          this.position.y--;
        }
        this.$emit('move-ship', this.position);
      } else {
        this.isFlying = false;
      }
      //TODO: Should be reowrked to rotate full circle only when needed
      this.rotation = angle;
    }
  },
  components: {
    ShipControls
  },
  mounted() {
    this.$root.$on('upleft-arrow-pressed', () => this.moveOrRotateShip(315));
    this.$root.$on('up-arrow-pressed', () => this.moveOrRotateShip(0));
    this.$root.$on('upright-arrow-pressed', () => this.moveOrRotateShip(45));
    this.$root.$on('left-arrow-pressed', () => this.moveOrRotateShip(270));
    this.$root.$on('self-pressed', () => this.moveOrRotateShip(this.rotation));
    this.$root.$on('right-arrow-pressed', () => this.moveOrRotateShip(90));
    this.$root.$on('downleft-arrow-pressed', () => this.moveOrRotateShip(225));
    this.$root.$on('down-arrow-pressed', () => this.moveOrRotateShip(180));
    this.$root.$on('downright-arrow-pressed', () => this.moveOrRotateShip(135));
  },
  beforeDestroy () {
    this.$root.$off('upleft-arrow-pressed');
    this.$root.$off('up-arrow-pressed');
    this.$root.$off('upright-arrow-pressed');
    this.$root.$off('left-arrow-pressed');
    this.$root.$off('self-pressed');
    this.$root.$off('right-arrow-pressed');
    this.$root.$off('downleft-arrow-pressed');
    this.$root.$off('down-arrow-pressed');
    this.$root.$off('downright-arrow-pressed');
 },
}
</script>

<style scoped>
#shipContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 270px;
  top: 50%;
  left: 50%;
  margin-top: -135px;
  margin-left: -135px;
  z-index: 1;
}
#shipContainer > div {
  width: 90px;
  height: 90px;
}
#ship {
  background: no-repeat url(../assets/ship.png) 25px 20px;
  background-size: 40px;
  transition: transform .5s ease-in-out;
}
div#ship:before {
    content: "";
    background: no-repeat url(../assets/ship-flames.png) center;
    background-size: 30px auto;
    display: block;
    height: 0;
    width: 90px;
    transition: height .5s ease-in-out, opacity .5s ease-in-out;
    top: 55px;
    position: relative;
    opacity: 0;
}
div#ship.flying:before {
    height: 30px;
    opacity: 0.7;
}
</style>