<template>
  <div class="nameInput">
    <h1>Hello ranger, name yourself:</h1>
    <input v-model="name" v-on:keyup.enter="startGame" placeholder="My name is...">
    <div>
      <h2>Nice to have you around {{name}}! Let's start!</h2>
      <button v-if="name.length > 1" @click="startGame">Start</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: ''
    }
  },
  methods: {
    startGame(){
      if (this.name.length > 1) {
        this.$root.playerName = this.name;
        this.$emit('start-game');
      }
    }
  }
}
</script>

<style scoped>
.nameInput {
  margin-top: 60px;
}
h1 {
  margin: 40px 0 0;
}
button {
  font-size: 30px;
  margin: 20px 0;
}
input {
  margin: 20px;
}
</style>
