<template>
  <div class="tile" :style="tileStyle"/>
</template>

<script>
export default {
  name: 'tile',
  props: ['sectorContent', 'sectorCoordinates'],
  computed: {
    tileStyle() {
      if (this.sectorContent != null && this.sectorContent != undefined){
        return "background-position: " + this.sectorContent.type * -90 + "px 0;"
      }
      return ""
    }
  },
  beforeDestroy() {
    //console.log(this.sectorCoordinates + 'destroyed')
  }
}
</script>

<style>
  .tile {
    height: 90px;
    width: 90px;
  }
  .tile {
    background: no-repeat url(../assets/planets.png) 90px 0;
  }
</style>
