<template>
  <div id="app">
    <StartGame v-if="!gameStarted" v-on:start-game="gameStarted = true"/>
    <keep-alive>
      <transition name="fade">
        <Cosmos v-if="gameStarted"/>
      </transition>
    </keep-alive>
  </div>
</template>

<script>
import Cosmos from './components/Cosmos.vue';
import StartGame from './components/StartGame.vue';

export default {
  name: 'app',
  components: {
    Cosmos,
    StartGame
  },
  data() {
    return {
      gameStarted: false
    }
  }
}
</script>

<style>
body {
  margin: 0;
  background: #000;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
